.banner {
  align-items: center;
  text-align: center;
  color: #2e51a2;
  font-size: 30px;
  white-space: nowrap;
}

.Category {
  font-family: Verdana, Arial;
  font-size: 20px;
  font-weight:400;
  text-align: center;
  padding: 6px;
  color: #2e51a2;
}

.Header{
  background-color: #2e51a2;
  border: 1px solid #2e51a2;
  color: #fff;
  font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif;
  font-size: 20 px;
  font-weight: 400;
  line-height: 2.0em;
  margin: 0 0 15px;
  padding: 6px 0;
  text-align: center;
  width: 100%;
}
.animeTitle{
  display: table-cell;
  height: 60px;
  margin: 0;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  width: 334px;
  background-color: rgb(194, 191, 191);
}
.animeLink{
  border-style: none;
  -webkit-box-orient: vertical;
  color: #1c439b;
  display: -webkit-box;
  font-size: 16px;
  text-decoration: none;
  -webkit-line-clamp: 2;
  line-height: 16px;
  margin: 0;
  overflow: hidden;
  padding: 0 0 1px;
}

.titleText{
  font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif;
  margin: 0 auto;
  width: 280px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(334px, 1fr));
  gap: 16px; /* Gap between grid items */
  justify-items: center;
  align-items: center;
}
.Card{
  border: #f0f0f0 1px solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif;
  height: 370px;
  margin: 0 0 20px;
  overflow: hidden;
  position: relative;
  width: 334px;
  text-align: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}


.Card.visible{
  border: #f0f0f0 1px solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Avenir,lucida grande,tahoma,verdana,arial,sans-serif;
  height: 370px;
  margin: 0 0 20px;
  overflow: hidden;
  position: relative;
  width: 334px;
  text-align: center;
  justify-content: center;
  opacity: 1;
}

.Image{
  display:flex;
  background-color: #f8f8f8;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width:167px;
  padding: 15px;
}

.Image:hover .entry-image{
  filter: grayscale(100%) brightness(80%)
}

.Image:hover .completeDate{
  opacity: 1;
}

.entry-image{
  border-radius: 5%;
  width:167px;
  height: 231px;
  image-rendering: optimizeQuality;
  transition: filter 0.5s ease-in-out; /* Add a transition effect to the filter property */
}
.intro-message{
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 80px;;
  margin-right: 80px;
  font-size: 15px;
}

.completeDate{
  justify-content: center;
  align-items: center;
  font-size: 16;
  opacity: 0; /* Initially, the text is hidden */
  transition: opacity 0.5s ease-in-out; /* Add a transition effect to the text */
}

.footer {
  background-color: #1c439b; /* Background color of the footer */
  color: white; /* Text color */
  padding: 20px 0; /* Padding at the top and bottom */
  text-align: center; /* Center-align text */
}

.footer a {
  color: white; /* Link color */
  text-decoration: none; /* Remove underline from links */
  margin: 0 10px; /* Add some spacing between links */
}