<!DOCTYPE html>
<html>

<head>
    <title>Simple Node.js HTML Project</title>
    <link rel="stylesheet" type="text/css" href="views/styles.css" />
    <script src="views-scripts/index-script.js" defer></script>
</head>

<body>
      <div class = "banner">
        <h1>Welcome to MangAlert</h1>
      </div>
      <div id="login" class = "login"></div>
      <div class = "main-container">
        <div class = "info"><b>What is this service?</b></div>
        <div class = "info-description">
          The goal of this service is to periodically notify the user whenever
          an anime/manga on their MAL plan-to-read or plan-to-watch list is finished.
          Helping those who prefer to binge rather than consume chapter by chapter.
        </div>
      </div>
    
</body>

</html>