<!DOCTYPE html>
<html>

<head>
    <title>MAL Email Service Home</title>
    <link rel="stylesheet" type="text/css" href="views/styles.css" />
    <script src="views-scripts/register.js" defer></script>
</head>

<body>
    <h1 class = "banner">MAL EMAIL SERVICE</h1>
    <div class = "confirmEmail">
        <div class="greetingText" id="greeting"></div>
        <form id="emailForm">
            <input id="emailInput" type="email" class="emailButton" placeholder='Enter your email'>
            <input id="submitBtn" type="submit" class="malButton" value="Submit">
        </form>
        <div class="greetingSubText">Note: you may proceed with no email. This will simply opt you out of your quarterly email notifications and you will not get 
            notified (every 3 months) when entries in your plan to read/watch list are completed.</div>
    </div>
</body>

</html>