  @font-face {
  font-family: malLogoFont;
  src: url(mal-logo-font.ttf);
}

body{
  font-family: Verdana, Arial;
}

.banner {
    align-items: center;
    text-align: center;
    color: #2e51a2;
    font-size: 30px;
    white-space: nowrap;
}

.box-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 800px;
  margin: 0 auto;
  padding: 6px 0 18px;
  box-shadow: 0 0 0 1px #2E51A2, 0 0 0 11px #E1E7F5;
}

.main-container{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin-left:auto;
  margin-right:auto;
}

.info {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
    padding-top:30px;
    padding-bottom: 10px;
    font-size: 30px;
}

.info-description {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 80px;;
  margin-right: 80px;
  font-size: 15px;
}

.login {
    align-items:center;
    text-align: center;
    padding:20px;
    padding-top: 25px;
}

.emailInput{
    border: 0;
    outline: 0;
    color: rgb(60, 66, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 4px 10px;
    min-height: 28px;
    vertical-align: middle;
    transition: background-color .24s,box-shadow .24s;
    transition-property: background-color, box-shadow;
    transition-duration: 0.24s, 0.24s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    width:400px;
    height: 40px;
    :focus{
        box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    };
    
}

.emailSubmit {
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 4px 8px;
    min-height: 28px;
    vertical-align: middle;
}

.emailButton {
  padding:25px;
  display: inline;
}

.greetingText{
  font-size: large;
  padding: 30px;
}

.greetingSubText {
  font-size: small;
  padding: 30px;
}


.malButton {
  background-color: #4065ba;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  min-width: 160px;
  padding: 10px 12px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  transition: all .3s;
}


.malButton:focus {
  color: #171e29;
}

.malButton:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.malButton:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-58 {
    min-width: 170px;
  }
}

.indexImg {
  width: 43%;
  padding-top: 35px; 
}

.profileImg {
  width: 150px;
  border-radius: 20px;
  box-shadow: 0 0 0 1px #2E51A2, 0 0 0 9px #E1E7F5;
}

.profileContainer {
  width: 180px;
  padding-top: 35px;
}